
<!-- <div class="container">
  <div class="row">
    <div class="col-12 col-lg-8">
     <% @cars.each do |car| %>
        <div class="card-product">
          <img src="https://m.extra.globo.com/incoming/17357332-fa6-89f/w488h275-PROP/capa-de-carro.jpg" />
          <div class="card-product-infos">
            <h2><%= car.model %></h2>
            <p><%= " year of fabrication :#{car.year} with #{car.km} km"  %>   <%= link_to 'view', car_path(car) %></p>
          </div>
        </div>
      <% end %>
    </div>
     <div class="col-12 col-lg-4">
      <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fdevelopers.arcgis.com%2Fdocumentation%2Fmapping-apis-and-services%2Ftutorials%2F&psig=AOvVaw34aUrGsHoORDhRLuMQmD46&ust=1622734058466000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCJjS-Myh-fACFQAAAAAdAAAAABAD">
    </div>
  </div>
</div>

 -->
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn2.buyacar.co.uk/sites/buyacar/files/car-parking-3000.jpg);">
  <div class="container">
    <h1><strong>Go further!</strong></h1>
    <p>Minimalism does not require you to sacrifice comfort</p>
  </div>
</div>


<div class="container">
  <div id="core" class="row">
    <div id="sidecard" class="col-12 col-lg-8">
        <div class="cards">
          <% @cars.each do |car| %>
            <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="https://m.extra.globo.com/incoming/17357332-fa6-89f/w488h275-PROP/capa-de-carro.jpg" alt="Card image cap">
                 <div class="card-body border-top">
                  <div class="d-flex justify-content-between align-items-flex-end">
                    <div>
                      <h5 class="card-title"><%= car.model %></h5>
                      <!-- <p class="card-text"><%="#{car.year} with #{car.km} km"%> -->
                    </div>
                      <div>
                      <%= link_to 'rent', car_path(car), class: "btn btn-outline-secondary"%>
                      </div>
                    </p>
                  </div>
                </div>
              </div>
            <% end %>
        </div>
      </div>
    <div id="sidemap"class="col-12 col-lg-4">
      <div id= "map" style="width: 100%; height: 760px;" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>
  </div>
</div>


<!--
        <% @cars.each do |car| %>
        <p><%= "#{car.model} - #{car.year}"%>
          <%= link_to 'delete', car_path(car), method: :delete %> |
          <%= link_to 'view', car_path(car) %>
          </p>
        <% end %>
 -->
